/* header styles */
* {
    font-family: 'Poppins', sans-serif;
}

.banner-1 {
    background-image: url(../images/banner.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    
}
.banner-2 {
    background-image: url(../images/banner.jpg);
    height: 100vh;
    width: 100%;
     background-repeat: no-repeat;
}
.banner-3 {
    background-image: url(../images/banner3.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
/* commont style */
.description {
    color: white;
}
.description-2 {
    color:rgb(105, 105, 105);
}
.explore-container {

}
.explore-content {
    margin-left: 60px;
}

.hot {
    position: absolute;
    top: -10px;
    left: 180px;
    background-color: orangered;
    border-radius: 50%;
    
}
.cilents {
   
}
.footer-section {
    background-color: #0B0D17;
}
.apps-link img {
    width: 200px;
    height: auto;

}
@media screen and (max-width: 575.98px) {
    .banner-1, .banner-2, .banner-3 {
        width: 100%;
        height: auto;
    }
    .explore-container {
        flex-direction: column;
        margin: 0;
    }
    .explore-img img {
        width: 100% !important;
        height: auto;
    }
    .explore-content {
        margin-left: 0;
    }
    .faqs {
        flex-direction: column-reverse;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .apps-link {
        margin-left:50px;
    }
}